
<div class="container">
  <div class="intro">
    <div>
      <div>
    <div class="firstbox">
      <div>
        <p>We're <span style="color: #f7ac53;">Fusion</span> , We Build</p>
        <p style="padding-left: 40px;">Things for Human</p>
      </div>
    </div>
    <div class="sbox">
      <span style="padding-right: 8px;">DESIGN</span><span class="strategy">STRATEGY</span><span style="padding-left: 8px;">BRANDING</span>
    </div>
  </div> 
</div>
<div class="firstbottomleft">
  <p>F</p>
</div>
<div class="firtbottomright">
  <a href="#">GET IN TOUCH<i class="fas fa-long-arrow-alt-right"></i></a>
</div>
</div>
</div>